.title {
    padding-top:20px;
    font-size: 3.5rem;
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 0rem;
  min-height: 100vh;
  font-size: 20px
}

.round {
    font-size: 2rem;
    color: green;
}

.winner {
    font-size: 3rem;
    color: yellow;
}

.button {
    padding:10px 20px;
    font-size: 20px;
    background-color: #3339;
}

.buttonContainer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap:30px;
}